.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top, .information, .quote, .footer {
    
    flex: 1; 
    width: 100%;
}



body {
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


.top {
    color: white;
    background-color: #1F2937;
    display: flex;  
    flex-direction: column;
    flex: 1;
}

.top-content {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex: 0.5;
    
}

.top-middle {
    display: flex;
    flex: 1.5;
    margin-left:160px;
    margin-right:160px;    
}

.left-stuff {
    display: flex;
    flex: 1;
}

.header {
    font-size: 48px;
}

.right-stuff {
    display: flex;
    flex: 1;
    
    
}

.top-bottom {
    display: flex;
    flex: 0.5;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    
}



.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sign-up {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.copywright {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1F2937;
    color: white;
}


